server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tickethub
    username: tickethub
    password: tickethub
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
